# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\90_PyCharmProject\MyNotebook\00_Procedures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
